<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="contane1">
  <div class="contaner boxe">
    <div class="carousel">
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
    </div>
  </div>
</div>

<div class="contaner1">
  <div class="boxeBody">
<pre class="esquerdo">




 Por que se associar a APVS?
    
 Proteção que cabe no seu bolso.
          
 Pra que pagar caro na proteção do seu veículo? 
          
 Pagamentos mensais e condições que cabem no seu bolso 
 e com o melhor custo e benefício.
          
 Burocracia zero.
          
 A vida já anda tão complicada, não é mesmo?
 Então pra descomplicar nós pensamos em você e trouxemos
 a proteção para o seu veículo sem precisar passar por 
 nenhuma burocracia. 
          
                                       Isso não é ótimo?
                                      
                                      </pre>
<div class="direito">
  <form class="formulario" method="post"> 
    <p> Envie-nos uma mensagem</p>
    
    <div class="field">
        <label for="nome">Seu Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome*" required>
    </div>
    
    <div class="field">
        <label for="telefone">Seu Telefone:</label>
        <input type="text" id="telefone" name="telefone" placeholder="Digite seu Telefone">
    </div>

    <div class="field">
        <label for="email">Seu E-Mail:</label>
        <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
    </div>        
    <div class="field radiobox">
        <span>Deseja receber nossas novidades?</span>
        <input type="radio" name="novidades" id="sim" value="sim" checked><label for="sim">Sim</label>
        <input type="radio" name="novidades" id="nao" value="nao"><label for="nao">Não</label>
    </div>
    <div class="field">
        <label for="mensagem">Sua mensagem:</label>
        <textarea name="mensagem" id="mensagem" placeholder="Mensagem*" required></textarea>
    </div>

    <input type="submit" name="acao" value="Enviar">
</form>
</div>
  </div>

</div>

<footer class="contaner1">
  <div class="footer">
    <div class="ft">Baixe nosso aplicativo
      <a href="https://play.google.com/store/apps/details?id=br.com.apvs.areadoassociado&pli=1" target="_blank"
        rel="noopener noreferrer"><img class="app" src="/assets/img/play.png" alt="play"></a>
      <a href="https://apps.apple.com/br/app/apvs-brasil-%C3%A1rea-do-associado/id1482680775" target="_blank"
        rel="noopener noreferrer"><img class="play" src="/assets/img/app.png" alt="play"></a>
    </div>
    <div class="a2">
      <p>Assistência 24 Horas: 0800 605 4381</p>
      <p>Central de atendimento: 4007-2382</p>
      <p>COTACAO E VENDAS : 71 99250-5424</p>
    </div>
  </div>
</footer>