
  .contaner1 {
    max-width: 1200px;
    margin: 0 auto;
}
  .contaner {
    position: relative;
    width: auto;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .boxe{
    margin-top: 150px;
    height: 150px;
    width: 300px;
    
  }
  .carousel {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
   
  }
  .carousel__face { 
    position: absolute;
    width: 280px;
    height: 180px;
    top: 5px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("/assets/img/protecao1.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("/assets/img/protecao2.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("/assets/img/protecao3.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("/assets/img/protecao4.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("/assets/img/protecao5.jpg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("/assets/img/protecao6.jpg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("/assets/img/protecao7.jpg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("/assets/img/protecao8.jpg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("/assets/img/protecao5.jpg");
    transform: rotateY(320deg) translateZ(430px); }
   
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  .boxeBody{
    display: grid;
    width: auto;
    grid-template-columns: "esquerdo direito";
    grid-template-columns: 60% 40%;;
    margin-top: 50px;
    padding: 20px;
    
  }
  
.footer {
  display: grid;
  grid-template-areas: "ft a2";
  grid-template-columns: 30% 70%;
  margin-top: 60px;
  height: 250px;
  background: #636363;

}

.ft {
  grid-area: ft;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;

}

.a2 {
  grid-area: a2;
  width: 500px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 180px;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;


}

.play {
  height: 100px;
  width: 200px;
}

.app {
  margin-top: 15px;
  height: 55px;
  width: 150px;
}

.formulario{
  width: 400px;
  padding: 30px;
  border:1px solid #ccc;
}
.formulario p{
  width: 100%;
  font-size: 1.5em;
}
.field{
  width: 100%;
  margin: 15px 0;
}
.field label, 
.field span{
  padding-left: 10px;
  font-size: 1.1em;
  display: block;
  width: 100%;
}
.radiobox label{
  width: auto;
  display: inline-block;
}
input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
}
input#nao{
  margin-left: 30px;
}
textarea{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}
input[type=submit]{
  display: block;
  background-color: #ccc;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

@media all and (max-width:550px) {

  .footer {
      display: flex !important;
      flex-direction: column !important;
      height: 390px;
      align-items: center;
      justify-content: center;
      align-content: center;
  }

  .a2 {
      margin-top: 10px;
  }

  .esquerdo{
    margin-top: -100px;
    
   } 
  .boxeBody{
    display: flex !important;
    flex-direction: column;
    width: 1200px;
    grid-template-columns: "esquerdo direito";
    grid-template-columns: 60% 40%;;
    margin-top: 0px;
    padding: 0px;
    margin: 0px !important;
  }
  .carousel__face { 
    position: absolute;
    width: 200px;
    height: 150px;
    top: 5px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }

  .carousel__face:nth-child(1) {
    background-image: url("/assets/img/protecao1.jpg");
    transform: rotateY(  0deg) translateZ(300px); }
  .carousel__face:nth-child(2) { 
    background-image: url("/assets/img/protecao2.jpg");
      transform: rotateY( 40deg) translateZ(300px); }
  .carousel__face:nth-child(3) {
    background-image: url("/assets/img/protecao3.jpg");
    transform: rotateY( 80deg) translateZ(300px); }
  .carousel__face:nth-child(4) {
    background-image: url("/assets/img/protecao4.jpg");
    transform: rotateY(120deg) translateZ(300px); }
  .carousel__face:nth-child(5) { 
    background-image: url("/assets/img/protecao5.jpg");
   transform: rotateY(160deg) translateZ(300px); }
  .carousel__face:nth-child(6) { 
    background-image: url("/assets/img/protecao6.jpg");
   transform: rotateY(200deg) translateZ(300px); }
  .carousel__face:nth-child(7) { 
    background-image: url("/assets/img/protecao7.jpg");
   transform: rotateY(240deg) translateZ(300px); }
  .carousel__face:nth-child(8) {
    background-image: url("/assets/img/protecao8.jpg");
    transform: rotateY(280deg) translateZ(300px); }
  .carousel__face:nth-child(9) {
    background-image: url("/assets/img/protecao5.jpg");
    transform: rotateY(320deg) translateZ(300px); }
}

@media all and (max-width:819px) {
  .boxeBody{
    display: flex !important;
    flex-direction: column;
    width: auto;
    grid-template-columns: "esquerdo direito";
    grid-template-columns: 60% 40%;;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
  }
}

@media all and (max-width:453px) {

  .footer {
      display: flex !important;
      flex-direction: column !important;
      height: 390px;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
   .esquerdo{
    font-size: 80%;
    margin-top: -150px;
    
   }  
   .carousel__face { 
    margin-top: -50px;
    position: absolute;
    width: 150px;
    height: 100px;
    top: 5px;
    left: 15px;
    right: 15px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }

  .carousel__face:nth-child(1) {
    background-image: url("/assets/img/protecao1.jpg");
    transform: rotateY(  0deg) translateZ(210px); }
  .carousel__face:nth-child(2) { 
    background-image: url("/assets/img/protecao2.jpg");
      transform: rotateY( 40deg) translateZ(210px); }
  .carousel__face:nth-child(3) {
    background-image: url("/assets/img/protecao3.jpg");
    transform: rotateY( 80deg) translateZ(210px); }
  .carousel__face:nth-child(4) {
    background-image: url("/assets/img/protecao4.jpg");
    transform: rotateY(120deg) translateZ(210px); }
  .carousel__face:nth-child(5) { 
    background-image: url("/assets/img/protecao5.jpg");
   transform: rotateY(160deg) translateZ(210px); }
  .carousel__face:nth-child(6) { 
    background-image: url("/assets/img/protecao6.jpg");
   transform: rotateY(200deg) translateZ(210px); }
  .carousel__face:nth-child(7) { 
    background-image: url("/assets/img/protecao7.jpg");
   transform: rotateY(240deg) translateZ(210px); }
  .carousel__face:nth-child(8) {
    background-image: url("/assets/img/protecao8.jpg");
    transform: rotateY(280deg) translateZ(210px); }
  .carousel__face:nth-child(9) {
    background-image: url("/assets/img/protecao5.jpg");
    transform: rotateY(320deg) translateZ(210px); }

    .boxeBody{
      padding: 0px;
      margin: 0px !important;
} 
}
@media all and (max-width:368px) {

  .footer {
      display: flex !important;
      flex-direction: column !important;
      height: 390px;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
   .esquerdo{
    font-size: 60%;    
   }
  }