<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="contaner info">
    <details>
        <Summary>O que é Proteção Veicular?</Summary><br>
        Proteção Veicular é um serviço para proteção de veículos que funciona por meio de associação entre
        proprietários
        de veículos sob controle de uma organização que faz a gestão. Ao assinar o contrato, o proprietário se torna
        um
        dos associados e passa, portanto, a fazer parte do sistema de rateio.
    </details>
    <br>
    <details>
        <Summary>Como funcionam as associações de proteção veicular?</Summary><br>
        As associações de proteção veicular funcionam como um grupo de proprietários de veículos que contribuem
        coletivamente todos os meses para garantir a segurança e proteção do grupo por meio de um rateio. Ao se
        tornar
        associado de um grupo ou uma associação deste tipo você passa a fazer parte de um sistema de rateio.
    </details>
    <br>
    <details>
        <Summary>Qual a diferença entre seguro e proteção veicular?</Summary><br>
        O seguro é realizado por empresas seguradoras, que têm interesses econômicos privados, ao contrário da
        proteção
        veicular que funciona por meio de associação cooperativa sem fins lucrativos. Ou seja, pessoas se unem para
        dividir os custos e despesas da proteção dos veículos. Na proteção veicular, também não existe uma apólice,
        a
        documentação é substituída pelo contrato de associação. O contrato de associação é o documento legal que
        determina os direitos e deveres de ambas as partes. O contrato de associação especifica como os serviços
        serão
        prestados e os prazos de seu cumprimento, a fim de que você e seu patrimônio fiquem protegidos.
    </details>
    <br>
    <details>
        <Summary>Qual é a cobertura da proteção veicular?</Summary><br>
        Existem diversos tipos de coberturas no mercado de proteção veicular. A Cobertura da APVS Proteção Veicular
        é
        sem dúvidas uma das mais completas do Brasil, incluindo proteção contra furto, roubo, colisão, incêndio,
        assistência 24h com cobertura nacional, guincho ilimitado para sinistro, proteção de vidros e faróis,
        proteção
        para terceiros e muito mais. Confira aqui todas coberturas.
    </details>
    <br>
    <details>
        <Summary>Proteção veicular é confiável?</Summary><br>
        Sim! A proteção veicular é completamente legal e confiável. Não se trata de um seguro tradicional e sim de
        um
        contrato que é feito por meio de associação a um grupo de proprietários de veículos e administrado por uma
        empresa. A proteção veicular é regida pelo Código Civil Brasileiro, não havendo nenhuma lei que proíba a
        existência de grupos de pessoas com a finalidade da Proteção Veicular. Apesar disso, é muito importante que
        você
        escolha uma associação de proteção séria e sólida no mercado. Além disso, assim como em um seguro, é
        importante
        analisar quais as coberturas estão inclusas em seu contrato de proteção veicular, o que ele cobre e em quais
        regiões do Brasil.
    </details>
    <br>
    <details>
        <Summary>Qual o procedimento em caso de acidente?</Summary><br>
        Se ocorrer algum sinistro ou outro tipo de ocorrência com o seu veículo, o indicado é que se entre em
        contato
        com a associação o quanto antes para que seja providenciada a indenização ou reparo do veículo. É possível
        informar uma ocorrência ou sinistro por através do site, aplicativo do celular, e-mail ou telefone.
    </details><br><br>
</div>
    <div class=" contaner w3-container w3-teal">
        <h1>Clientes</h1>
    </div>

    <div class="contaner w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card">
                <img src="/assets/img/img_5terre.jpg" style="width:100%">
                <div class="w3-container">
                    <h5>5 Terre</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="/assets/img/img_monterosso.jpg" style="width:100%">
                <div class="w3-container">
                    <h5>Monterosso</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="/assets/img/img_vernazza.jpg" style="width:100%">
                <div class="w3-container">
                    <h5>Vernazza</h5>
                </div>
            </div>
        </div>
    </div>

    <div class=" contaner w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card">
                <img src="/assets/img/img_manarola.jpg" style="width:100%">
                <div class="w3-container">
                    <h5>Manarola</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="/assets/img/img_corniglia.jpg" style="width:100%">
                <div class="w3-container">
                    <h5>Corniglia</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="/assets/img/img_riomaggiore.jpg" style="width:100%">
                <div class="w3-container">
                    <h5>Riomaggiore</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="cota">Solicite uma Cotação <br><br>
        <a href="https://wa.me/557192505424" target="_blank" rel="noopener noreferrer"><img class="zap" src="assets/img/what.png" alt="zap"></a>
    </div>

    <footer class="contaner">
        <div class="footer">
            <div class="ft">Baixe nosso aplicativo
                <a href="https://play.google.com/store/apps/details?id=br.com.apvs.areadoassociado&pli=1" target="_blank" rel="noopener noreferrer"><img
                        class="app" src="/assets/img/play.png" alt="play"></a>
                <a href="https://apps.apple.com/br/app/apvs-brasil-%C3%A1rea-do-associado/id1482680775" target="_blank" rel="noopener noreferrer"><img
                        class="play" src="/assets/img/app.png" alt="play"></a>
            </div>
            <div class="a2">
                <p>Assistência 24 Horas: 0800 605 4381</p>
                <p>Central de atendimento: 4007-2382</p>
                <p>COTACAO E VENDAS : 71 99250-5424</p>
            </div>
        </div>
    </footer>
