<header class="contaner">
  <div class="barraInicial">
    <div class="grid-item item-1"><a routerLink="/home"><img class="super" src="/assets/img/super.jpeg"
          alt="imgSuper"></a></div>
    <div class="grid-item item-2">
      <p class="p1">Nosso Prazer é Assegura-lo !</p><br>
      <p class="p2">Faz o 1 e vem com o SuperMan.</p>
    </div>
  </div>

  <div class="menu">
    <a class="a1" routerLink="/produtos">Produtos</a>
    <a class="a1" routerLink="/info">Informações</a>
    <a class="a1" href="https://www.clubeapvs.com.br
    " target="_blank" rel="noopener noreferrer">Clube APVS</a>
    <a class="a1" href="https://associado.apvs.org.br/login" target="_blank" rel="noopener noreferrer">Área do Associado</a>
  </div>
</header>

<router-outlet></router-outlet>